
/*列表样式*/
.home_main {
    background-color: #fff;
    .main_mid {
	    max-width: 1000px;
	    margin: 1px auto;
	    padding-bottom: 50px;
	    .main_kuai {
		    width: 100%;
		    .kuai_title {
			    text-align: center;
			    margin: 30px 0;
			    color: #717171;
			    font-size: 30px;
			}
			.kuai_pic1,.kuai_pic2  {
			    width: 100%;
			    .k_left{
				    float: left;
				    width: 48%;
				    a{
				    	img {
						    border: 0 none;
						    vertical-align: middle;
						}
				    }
				    .pic_text {
					    padding: 15px 15px 10px;
					    border-bottom: 1px solid #d4d4d4;
					    .dpby_big {
						    display: inline-block;
						    color: #000;
						    font-size: 26px;
						}
						.dpby_small {
						    font-size: 16px;
						    color: #727272;
						    display: inline-block;
						    margin-left: 15px;
						}
					}

				}
				.clear {
				    clear: both;
				}
				.k_left2{
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
			.kuai_pic1>div:nth-child(1),.kuai_pic2>[class=right2]  {
			    float: right;
			    width: 48%;
			}

		}
	}
}


/*客服样式*/
.bkhome {
    position: fixed;
    bottom: 28%;
    right: 10px;
    width: 60px;
    /* border-radius: 100%; */
    z-index: 100;
    background: #fff;
    overflow: hidden;
    z-index: 100000;
    background: transparent;
    a{
    	img {
		    border: 0 none;
		    vertical-align: middle;
		}
    }
}